.login{
    border: 1px solid black;
    height: 352px;
    width: 243px;
    margin: auto;
    background-color: beige;
    padding: 26px 44px;
}
.div{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    color: aqua;
    background-color: aquamarine;
}